@import '../../styles/variables';

header {
  @extend %homeSection;

  background-attachment: fixed;
  background-size: cover;
  flex-direction: column;

  
  h1 {
    @extend %sectionHeading;
    border-bottom: $thinWhiteBorder;
    span.dropCap {
      @extend %dropCap;
    }
  }

  &:before {
    content: '';
    background: rgba(22,25,37, 0.4);
    height: 100vh;
    position: absolute;
    width: 100vw;
    z-index: 1;
  }

  section.content {
    max-width: 1000px;
    min-width: 300px;
    margin: 2em auto;
    width: 50%;
    z-index: 2;
  }
}