@import '../../styles/_variables.scss';

nav {
  font-family: $openSansFontFamily;
  position: fixed;
  width: 100%;
  z-index: 1;

  ul {
    list-style-type: none;
    padding: 0;
    text-align: right;

    li {
      border-right: $thinWhiteBorder;
      color: white;
      display: inline-block;
      padding: 0 .8em;
      position: relative;
      z-index: 3;

      transition: all .3s ease-in-out;

      &:before {
        content: '';
        height: 100%;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 75%;
        z-index: -1;

        transition: all .3s ease;
      }

      &:hover {
        color: rgba(255,255,255,.8);
        cursor: pointer;

        &:before {
          border-bottom: solid 1px rgba(255, 255, 255, 0.5);
        }
      }

      &:last-child {
        border-right: none;
      }

      a {
        color: inherit;
        text-decoration: none;
        z-index: 15;
      }
    }
  }
}